@model ItemCatalogViewModel

@{
    ViewData["Title"] = "Bakery Catalog";
}

<h1>Bakery Catalog</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Add Item</a>
</p>

@if (Model.Items.Count() != 0) {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items[0].Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (Item item in Model.Items) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                        <a asp-action="Edit" asp-route-id="@item.ItemId" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ItemId" class="btn btn-secondary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ItemId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}
else {
    <hr />
    <h4>There are no items on this page.</h4>
}

<nav aria-label="Item Catalog Pages">
    <ul class="pagination">
        @for (int i = 1; i <= Model.LastPage; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="page-item active">
                    <a class="page-link">@i</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-id="@i">@i</a>
                </li>
            }            
        }
    </ul>
</nav>
